<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        .content{
            align-items: center;
            background-color: blue;
            height: 400px;
            width: 80%;
            border: yellow solid;
        }

        .content-1{
            align-items: center;
            padding-left: 3px;

        }

        .content-1 h5{
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="content">
        <div class="content-1">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque labore soluta incidunt magnam repudiandae officiis suscipit dolores quam, eveniet dolorem rem nisi, deserunt ipsum error fugiat numquam! Id, ut quos?</p>


            <br>
            <br>
            <br>
            <h5>www.google.com </h5>
        </div>
         
            
        
    </div>
</body>
</html>